# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/package-lock.json


.cache/
coverage/
/frontend/dist/*
!/frontend/dist/index.html
/frontend/*.log

/backend/package-lock.json
/backend/node_modules

/backend/db/config.js
/backend/db/export/
/backend/config.js
