* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Raleway', 'Open Sans';
}

.light {
  --main-bg-color: rgb(218, 218, 218);
  --primary-color: rgb(25, 118, 210);
  --primary-color-fade: rgba(25, 118, 210, 0.4);
  --primary-color-dark: rgb(20, 86, 153);
  --text-btn-hover: rgba(200, 200, 200, 0.5);
  --subtitle-text-color: grey;
  --primary-text-color: black;
  --secondary-text-color: rgb(250, 250, 250);
  --button-text-color: rgb(25, 118, 210);
  --box-shadow-color: rgba(0, 0, 0, 0.4);
  --modal-shadow-color: rgba(0, 0, 0, 0.6);
  --paper-color: rgb(250, 250, 250);
  --input-border-color: rgb(17, 17, 17);
  --link-color: #065fd4;
  --alert-cell-color: #e80000;
  --budget-table-divider-color: rgba(224, 224, 224, 1);
}

.dark {
  --main-bg-color: rgb(31, 52, 79);
  --primary-color: rgb(25, 118, 210);
  --primary-color-fade: rgba(25, 118, 210, 0.4);
  --primary-color-dark: rgb(20, 86, 153);
  --text-btn-hover: rgba(200, 200, 200, 0.5);
  --subtitle-text-color: grey;
  --primary-text-color: #fefefe;
  --secondary-text-color: rgb(225, 225, 225);
  --button-text-color: rgb(225, 225, 225);
  --box-shadow-color: rgba(0, 0, 0, 0.4);
  --modal-shadow-color: rgba(0, 0, 0, 0.4);
  --paper-color: rgb(37, 88, 153);
  --input-border-color: rgb(17, 17, 17);
  --link-color: #68a9ff;
  --alert-cell-color: #992020;
  --budget-table-divider-color: #223d5d;
}

.page {
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
}

.content {
  padding: 5vh 5vw;
}

/* Subcomponent Classes */
.stack {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.paper {
  background-color: var(--paper-color);
  border-radius: 4px;
  margin: 4px 10%;
  padding: 16px;
  box-shadow: 0 0 5px var(--box-shadow-color);
}

.textBtn {
  cursor: pointer;
  text-transform: uppercase;
  /* margin: 4px 0; */
  padding: 8px 12px;
  border-radius: 4px;
  background: none;
  border: none;
  font-size: inherit;
  color: var(--button-text-color);
  transition: background-color 0.25s;
}
.textBtn:hover {
  background-color: var(--text-btn-hover);
}
.textBtn:active {
  background-color: var(--primary-color-fade);
}

.solidBtn {
  cursor: pointer;
  text-transform: uppercase;
  /* margin: 4px 0; */
  padding: 8px 12px;
  border-radius: 4px;
  background: none;
  border: none;
  font-size: inherit;
  color: var(--secondary-text-color);
  background-color: var(--primary-color);
  transition: background-color 0.25s;
}
.solidBtn:hover {
  background-color: var(--primary-color-dark);
}
.solidBtn:active {
  background-color: var(--primary-color-fade);
}

.solidBtn.halfWidth, .textBtn.halfWidth {
  width: 50%;
  align-self: center;
}

.solidBtn.fullWidth, .textBtn.fullWidth {
  width: 100%;
}

.errorBtn {
  background-color: var(--alert-cell-color);
}

.tableLink {
  color: var(--link-color);
  cursor: pointer;
}

.tableInput {
  display: table-cell;
  background-color: var(--paper-color);
}

.tableInput input {
  /* background-color: var(--paper-color); */
  border: none;
  width: 100%;
  padding: 8px 4px;
}

.tableBtns {
  padding: 12px;
}

.centered {
  text-align: center;
}

.formError {
  color: var(--alert-cell-color);
}

.profileBtn {
  display: flex;
  align-items: center;
  padding-right: 16px;
  gap: 10px;
}

.profileBtn img {
  border-radius: 24px;
  /* border: 1px solid var(--input-border-color); */
}

.horizontalBtnField {
  display: flex;
  justify-content: center;
  gap: 3px;
}

.horizontalBtnField button {
  flex-grow: 1;
}

/* Component Classes */
.navBar {
  display: flex;
  background-color: var(--primary-color);
}

.pageTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.inputForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputForm .submit {
  margin-top: 16px;
}

.inputField .input {
  width: 100%;
  padding: 12px 8px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
}

.inputField.error .input {
  border: 1px solid var(--alert-cell-color);
}

.inputField.error {
  color: var(--alert-cell-color);
}

.inputField label {
  position: relative;
  top: 8px;
  left: 8px;
}

.inputField.defaultColor * {
  background-color: var(--main-bg-color);
}

.inputField.paperColor * {
  background-color: var(--paper-color);
}

.inputField option {
  background-color: white;
}

.enhancedTable {
  width: 100%;
  padding: 0 0 32px;
  background-color: var(--paper-color);
  border: 1px solid var(--input-border-color);
  border-radius: 12px;
}

.enhancedTable table {
  width: 100%;
  border-spacing: 0 1px;
  background-color: var(--input-border-color);
}

.enhancedTable th, .enhancedTable td {
  padding: 8px 4px;
  background-color: var(--paper-color);
}

.enhancedTable th {
  cursor: pointer;
}

.enhancedTable .narrowCell {
  width: 100px;
}

.enhancedTable .leftBorder {
  border-left: 1px solid var(--table-vertical-border-color);
}

.budgetSummary .leftCell {
  border-left: 2px solid var(--input-border-color);
}

.budgetSummary .rightCell {
  border-left: 1px solid var(--budget-table-divider-color);
}

.budgetSummary .alertCell {
  background-color: var(--alert-cell-color);
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 24px;
  background-color: var(--modal-shadow-color);
  z-index: 2;
}

.modalFrame {
  padding: 24px;
  margin: auto;
  border: 1px solid var(--input-border-color);
  border-radius: 12px;
  background-color: var(--paper-color);
}

@media only screen and (min-width: 600px) {
  .modalFrame {
    width: 50%;
  }
}

/* Page-Specific Component Classes */
.profileInfo {
  text-align: center;
}

.profileImg {
  border-radius: 128px;
}

.profileName {
  margin-bottom: 0;
}

.profileEmail {
  color: var(--subtitle-text-color);
  margin-bottom: 16px;
}

.logoText {
  cursor: pointer;
  color: var(--secondary-text-color);
}

.navMenu {
  display: flex;
  font-size: 14px;
}

.navMenu.left {
  padding: 0 8px;
}

.navMenu.center {
  flex-grow: 1;
  overflow: hidden;
}

/* Page Classes */
.profile {
  max-width: 800px;
  margin: 0 auto;
}

.auth {
  max-width: 500px;
  margin: 0 auto;
}