* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Raleway', 'Open Sans';
}

.light {
  --main-bg-color: #dadada;
  --nav-bg-color: #1976d2;
  --box-shadow-color: rgb(0 0 0 / 40%);
  --paper-color: #fafafa;
  --input-border-color: #111;
  --link-color: #065fd4;
  --alert-cell-color: #e80000;
  --budget-table-divider-color: rgba(224, 224, 224, 1);
}

.page {
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

.content {
  padding: 5vh 5vw;
}

/* Subcomponent Classes */
.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.tableLink {
  color: var(--link-color);
  cursor: pointer;
}

.tableInput {
  display: table-cell;
  background-color: var(--paper-color);
}

.tableInput input {
  /* background-color: var(--paper-color); */
  border: none;
  width: 100%;
  padding: 8px 4px;
}

/* Component Classes */
.navBar {
  display: flex;
  background-color: var(--nav-bg-color);
}

.pageTitle {
  display: flex;
  justify-content: center;
  background-color: var(--paper-color);
  border-radius: 4px;
  margin: 0 10% 16px;
  box-shadow: 0 0 5px var(--box-shadow-color);
}

.inputForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputForm .submit {
  margin-top: 16px;
}

.inputField .input {
  width: 100%;
  padding: 12px 8px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  background-color: var(--main-bg-color);
}

.inputField label {
  position: relative;
  top: 8px;
  left: 8px;
  background-color: var(--main-bg-color);
}

.inputField option {
  background-color: white;
}

.enhancedTable {
  width: 100%;
  padding: 48px 0 32px;
  background-color: var(--paper-color);
  border: 1px solid var(--input-border-color);
  border-radius: 12px;
}

.enhancedTable table {
  width: 100%;
  border-spacing: 0 1px;
  background-color: var(--input-border-color);
}

.enhancedTable th, .enhancedTable td {
  padding: 8px 4px;
  background-color: var(--paper-color);
}

.enhancedTable th {
  cursor: pointer;
}

.enhancedTable .leftBorder {
  border-left: 1px solid var(--table-vertical-border-color);
}

.budgetSummary {
  width: 100%;
  padding: 48px 0 32px;
  background-color: var(--paper-color);
  border: 1px solid var(--input-border-color);
  border-radius: 12px;
}

.budgetSummary table {
  width: 100%;
  border-spacing: 0 1px;
  background-color: var(--input-border-color);
}

.budgetSummary th, .budgetSummary td {
  padding: 8px 4px;
  background-color: var(--paper-color);
}

.budgetSummary .leftBorder {
  border-left: 1px solid var(--table-vertical-border-color);
}

.budgetSummary .leftCell {
  border-left: 2px solid var(--input-border-color);
}

.budgetSummary .rightCell {
  border-left: 1px solid var(--budget-table-divider-color);
}

.budgetSummary .alertCell {
  background-color: var(--alert-cell-color);
}

/* Page-Specific Component Classes */
.profileName {
  margin-bottom: 0;
}

.profileEmail {
  
}

/* Page Classes */
.profile {
  max-width: 800px;
  margin: 0 auto;
}

.auth {
  max-width: 500px;
  margin: 0 auto;
}